*{
    padding: 0;
    margin: 0;
}

#system{
    /*font-family: "Great Vibes", cursive;*/
    font-size: 16px;
    position: relative;

}

body{
    background-color: #fff;
}

.content{
    margin: 60px 100px 60px 400px;
}

h1{
    text-align: center;
}

.body-container{
    padding: 60px 0 0 0;
}

.order-container {
    background: white;
    padding: 20px;
    border-radius: 30px;
    width: 500px; /* Điều chỉnh kích thước khung */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
}
.order-container h2 {
    text-align: center;
    color: salmon;
}
.form-group {
    margin-bottom: 15px;
}
label {
    font-weight: bold;
    display: block;
}
input, select {
    width: 95.9%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.submit-btn {
    width: 100%;
    padding: 10px;
    background: lightsalmon;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.submit-btn:hover {
    background: salmon;
}


.home-link{
    position: absolute;
    top: 46px;
    padding: 5px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: white;
}

.home-link a {
    color: #8b5e83;
    text-decoration: none;
}

.home-link:hover {
    background-color: #8b5e83;
}
.home-link a:hover {
    color: #fff;
    text-decoration: none;
}