*{
    padding: 0;
    margin: 0;
}

#system{
    
    /*font-family: "Great Vibes", cursive !important;*/
    color:#8b5e83 !important;
}

.background-img {
    background-image: url('//assets/img/login.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.background-img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 1;
}

.container{
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    height: 100vh;
   
}

.log{
    padding: 20px 30px;
    box-shadow: 0 0 10px 4px rgba(139, 94, 131, 0.1),
    0 0 10px 30px rgba(139, 94, 131, 0.1),
    30px 0 20px 30px rgba(139, 94, 131, 0.1);
    border-radius: 10px;
    width:450px;
    display: block;
}

.log .log-name {
    
    width: 100%;
    display: block;
}

.log .log-name h2{
    padding: 10px 5px 30px 5px;
    text-align: center;
    font-size: 30px;
}

#fullName, #email, #password, #confirm-password, #phoneNumber, #address, #service, #experience, #specialty, #description{
    margin: 5px 0;
    padding: 2px;
    width: 100%;
    border-radius: 5px;
    border: 2px solid #8b5e83;
}

#confirm-error{
    color:red;
    font-size: 12px;
}

.log .button-log{
    text-align: center;
}

.log .button-log-in, .log .button-log-up{
    margin: 10px;
    padding: 5px;
    background-color: #e1a0d4;
    color: #8b5e83;
    font-family: "Great Vibes", cursive;
    border-radius: 2px;
    border: 2px solid #8b5e83;
}

.log .button-log-in:hover, .log .button-log-up:hover{
    background-color:  #8b5e83;
    color: #e1a0d4;
}

.log .button-log a{
    color: #8b5e83;
}

.log .button-log a:hover{
    color: #e1a0d4;
}

#forgot-password h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

#forgot-password label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
}

#forgot-password input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
}

#forgot-password button#send-reset-link {
    width: 100%;
    padding: 12px;
    background-color: #894caf;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#forgot-password button#send-reset-link:hover {
    background-color: #45a049;
}

#forgot-password div {
    text-align: center;
    margin-top: 15px;
}

#forgot-password a#back-to-login {
    color: #4CAF50;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s;
}

#forgot-password a#back-to-login:hover {
    color: #388e3c;
    text-decoration: underline;
}