*{
    padding: 0;
    margin: 0;
}

#system{
    font-family: "Great Vibes", cursive;
    font-size: 16px;
    position: relative;

}

#header{
    z-index: 1;

}

.content{
    margin: 60px 0 60px 260px;
}

.container {
    width: 120%;
    margin: 10% auto auto 1%;
    background: #FFF5E1;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.container2 {
    width: 95.9%;
    margin: 0;
    background: white;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

body {
    background-color: #fff;
}
h2 {
    text-align: center;
    color:  #8b5e83;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
    text-align: center;
}

th, td {
    padding: 10px;
}

th {
    background: #007bff;
    color: white;
}

img{
    width:170px;
    height:170px;
}

.status-buttons {
    display: flex;
    gap: 15px;
    margin: 20px;
}

.status-button {
    padding: 10px 20px;
    border: none;
    border-radius: 12px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.custom-select-wrapper {
    position: relative;
    width: 160px;
    font-family: Arial, sans-serif;
}

.custom-select {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s;
}

.selected-option {
    display: block;
    color: #333;
}

.options {
    list-style: none;
    padding: 0;
    margin: 5px 0 0 0;
    background-color: white;
    border: 1px solid #ccc;
    position: absolute;
    width: 100%;
    display: none;
    z-index: 10;
    border-radius: 5px;
}

.options li {
    padding: 10px;
    transition: background-color 0.2s;
    cursor: pointer;
}

/*.options li:hover {*/
/*    background-color: #c185b8;*/
/*    color: white;*/
/*}*/

.custom-select.open .options {
    display: block;
}

.status-not-started {
    background-color: rgb(229, 0, 0);
    color: white !important;
}

.status-in-progress {
    background-color: #fbc02d;
    color: white !important;
}

.status-completed {
    background-color: rgb(0, 227, 45);
    color: white !important;
}

.custom-select.status-not-started .selected-option,
.custom-select.status-in-progress .selected-option,
.custom-select.status-completed .selected-option {
    color: white !important;
}

.status-button:hover {
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transform: scale(1.02);
}

.options li:hover {
    background-color: #c185b8;
    color: black;
}
