<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skincare Booking System</title>
    <link rel="stylesheet" th:href="@{assets/themify-icons-font/themify-icons/themify-icons.css}">
    <link rel="stylesheet" th:href="@{/assets/css/styles.css}">
    <link rel="stylesheet" th:href="@{/assets/css/account.css}">
</head>
<body>
<div id="system">
    <div th:replace="~{admin/index :: header}"></div>
    <div id="slidebar">
        <div th:replace="~{admin/index :: navbar}"></div>
        <div class="content">
            <div class="container" id="skintherapist-form">
                <h2>Chuyên gia trị liệu</h2>
                <div class="container2">
                    <table>
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Họ và tên</th>
                            <th>Email</th>
                            <th>Số điện thoại</th>
                            <th>Địa chỉ</th>
                            <th>Chuyên ngành</th>
                            <th>Kinh nghiệm</th>
                            <th>Mô tả</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div >
            </div>
            <div class="container" id="staff-form">
                <h2>Nhân viên</h2>
                <div class="container2">
                    <table>
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Họ và tên</th>
                            <th>Email</th>
                            <th>Số điện thoại</th>
                            <th>Địa chỉ</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div >
            </div>
            <div class="container" id="manager-form">
                <h2>Quản lý</h2>
                <div class="container2">
                    <table>
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Họ và tên</th>
                            <th>Email</th>
                            <th>Số điện thoại</th>
                            <th>Địa chỉ</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div >
            </div>
        </div>
    </div>
    <div th:replace="~{admin/index :: footer}"></div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        loadUsers("MANAGER", "manager-form");
        loadUsers("STAFF", "staff-form");
        // loadUsers("SKIN_THERAPIST", "skintherapist-form");
    });

    function loadUsers(role, containerId) {
        fetch("http://localhost:8080/users/role/" + role)
            .then(response => response.json())
            .then(users => {
                const tableBody = document.querySelector(`#${containerId} tbody`);
                tableBody.innerHTML = "";
                users.forEach(user => {
                    const row = document.createElement("tr");
                    row.innerHTML = `
                        <td>${user.id}</td>
                        <td>${user.fullName}</td>
                        <td>${user.email}</td>
                        <td>${user.phoneNumber}</td>
                        <td>${user.address}</td>
                        `;
                        // ${role === "SKIN_THERAPIST"
                        // ? `<td>${user.specialty || ''}</td><td>${user.experience || ''}</td><td>${user.description || ''}</td>`
                        // : ''}

                    tableBody.appendChild(row);
                });
            })
            .catch(error => {
                console.error("Lỗi khi tải danh sách người dùng:", error);
            });
    }

</script>

</body>
</html>