<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skincare Booking System</title>
    <link rel="stylesheet" th:href="@{assets/themify-icons-font/themify-icons/themify-icons.css}">
    <link rel="stylesheet" th:href="@{/assets/css/styles.css}">
    <link rel="stylesheet" th:href="@{/assets/css/account.css}">
</head>
<body>
<div id="system">
    <div th:replace="~{admin/index :: header}"></div>
    <div id="slidebar">
        <div th:replace="~{admin/index :: navbar}"></div>
        <div class="content">
            <div class="container" id="customer-form">
                <h2>Khách hàng</h2>
                <div class="container2">
                    <table>
                        <thead>
                        <tr class="customer-title">
                            <th>ID</th>
                            <th>Họ và tên</th>
                            <th>Email</th>
                            <th>Số điện thoại</th>
                            <th>Địa chỉ</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>Nguyễn Văn A</td>
                            <td>nguyenvana@gmail.com</td>
                            <td>0238463833</td>
                            <td>12BT</td>
                        </tr>
                        </tbody>
                    </table>
                </div >
            </div>
            <div class="container" id="skintherapist-form">
                <h2>Chuyên gia trị liệu</h2>
                <div class="container2">
                    <table>
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Ảnh</th>
                            <th>Họ và tên</th>
                            <th>Chuyên ngành</th>
                            <th>Kinh nghiệm</th>
                            <th>Mô tả</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td><img src="/static/assets/img/skin.jpg" alt=""></td>
                            <td>Nguyễn Văn A</td>
                            <td>tri mun</td>
                            <td>5 năm</td>
                            <td>mo ta</td>
                        </tr>
                        </tbody>
                    </table>
                </div >
            </div>
            <div class="container" id="staff-form">
                <h2>Nhân viên</h2>
                <div class="container2">
                    <table>
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Họ và tên</th>
                            <th>Nghiệp vụ</th>
                            <th>Email</th>
                            <th>Số điện thoại</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>Nguyễn Văn A</td>
                            <td>chăm sóc khách hàng</td>
                            <td>nguyenvana@gmail.com</td>
                            <td>0238463833</td>
                        </tr>
                        </tbody>
                    </table>
                </div >
            </div>
            <div class="container" id="manager-form">
                <h2>Quản lý</h2>
                <div class="container2">
                    <table>
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Họ và tên</th>
                            <th>Nghiệp vụ</th>
                            <th>Số điện thoại</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>Nguyễn Văn A</td>
                            <td>quản lý khách hàng</td>
                            <td>0238463833</td>
                        </tr>
                        </tbody>
                    </table>
                </div >
            </div>
        </div>
    </div>
    <div th:replace="~{admin/index :: footer}"></div>
</div>
</body>
</html>