<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skincare Booking System</title>
    <link rel="stylesheet" th:href="@{/assets/css/styles.css}">
</head>
<body>

    <div id="system">
        <div id="header" th:fragment="header">
            <div class="header-container"><h1>Skincare Booking System</h1></div>
        </div>
        <div id="slidebar">
            <div th:fragment="navbar">
                <ul class="nav">
                    <li><a th:href="@{/admin/home}">
                        Trang chủ</a></li>
                    <li><a th:href="@{/admin/account}">
                        Tài khoản</a>
                        <ul class="subnav">
                            <li><a href="#skintherapist-form">Chuyên gia trị liệu</a></li>
                            <li><a href="#staff-form">Nhân viên</a></li>
                            <li><a href="#manager-form">Quản lý</a></li>
                        </ul>
                    </li>
                    <li><a th:href="@{/admin/list}">
                        Dịch vụ</a>
                    </li>
                    <li><a th:href="@{/admin/order}">
                        Đặt hàng</a></li>
                    <li><a th:href="@{/}">
                        Đăng xuất
                    </a></li>
                </ul>
            </div>
        </div>

        <div id="footer" th:fragment="footer"></div>
    </div>

</body>
</html>