<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skincare Booking System</title>
    <link rel="stylesheet" href="./assets/themify-icons-font/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="./assets/css/styles.css">
    <link rel="stylesheet" href="./assets/css/home.css">
</head>
<body>
<div id="system">
    <div th:fragment="head" id="header">
        <div class="header-container"><h1>Skincare Booking System</h1></div>
    </div>
    <div id="nav">
    </div>
    <div id="slidebar">
        <ul class="nav">
            <li><a href="home.html">
                <i class="ti-h ti-home"></i>
                Trang chủ</a></li>
            <li><a href="account.html">
                <i class="ti-account-user ti-user"></i>
                Tài khoản</a>
                <ul class="subnav">
                    <li><a href="">Khách hàng</a></li>
                    <li><a href="">Chuyên gia trị liệu</a></li>
                    <li><a href="">Nhân viên</a></li>
                    <li><a href="">Quản lý</a></li>
                </ul>
            </li>
            <li><a href="list.html">
                <i class="ti-menu ti-menu-alt"></i>
                Dịch vụ</a>
            </li>
            <li><a href="order.html">
                <i class="ti-shopping ti-shopping-cart"></i>
                Đặt hàng</a></li>
            <li><a href="logout.html">
                <i class="ti-out ti-shift-right-alt"></i>
                Đăng xuất
            </a></li>
        </ul>
        <div class="content">

        </div>
    </div>

    <div id="footer"></div>
</div>
</body>
</html>