<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Skincare Booking</title>
</head>
<body>
<div id="system" >
    <div id="header-nav" th:fragment="nav">
        <ul id="nav" >
            <li><a th:href="@{/customer/home}">Trang chủ</a></li>
            <li><a th:href="@{/customer/list}">Dịch vụ</a></li>
            <li><a th:href="@{/customer/history}">Lịch sử đặt hàng</a></li>
            <li><a th:href="@{/customer/submit-feedback}">Đánh giá</a></li>

        </ul>
        <ul id="logout-nav">
            <li class="logout-btn"><a th:href="@{/}">Đăng xuất</a></li>
        </ul>
    </div>
    <div id="footer" th:fragment="footer">© 2025 Skincare Booking. All rights reserved.</div>
</div>

</body>
</html>