<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Skincare Booking</title>
</head>
<body>
<div id="system" th:fragment="nav">
    <div id="header-nav">
        <ul id="nav" >
            <li><a th:href="@{/customer/home}">Trang chủ</a></li>
            <li><a href="">Dịch vụ</a></li>
            <li><a href="">Lịch sử đặt hàng</a></li>
            <!--        <li><a href="">Contact</a></li>-->

        </ul>
    </div>
    <div id="footer" th:fragment="footer"></div>
</div>

</body>
</html>