<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skincare Booking</title>
    <link rel="stylesheet" th:href="@{/assets/themify-icons-font/themify-icons/themify-icons.css}">
    <link rel="stylesheet" th:href="@{/assets/css/styles.css}">
    <link rel="stylesheet" th:href="@{/assets/css/cus_order.css}">
</head>
<body>
<div id="system">

    <div th:replace="~{customer/index :: header}"></div>
    <div class="home-link">
        <a th:href="@{/customer/home}">← Home</a>
    </div>
    <div class="order-container">
        <h2>Đặt Dịch Vụ</h2>
        <form>
            <div class="form-group">
                <label for="name">Họ và Tên:</label>
                <input type="text" id="name" required>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="text" id="email" required>
            </div>
            <div class="form-group">
                <label for="phone">Số Điện Thoại:</label>
                <input type="tel" id="phone" required>
            </div>
            <div class="form-group">
                <label for="address">Địa Chỉ:</label>
                <input type="text" id="address" required>
            </div>
            <div class="form-group">
                <label for="service">Chọn Dịch Vụ:</label>
                <select id="service">
                    <option>Trị mụn chuyên sâu</option>
                    <option>Chăm sóc da cơ bản</option>
                    <option>Liệu trình trẻ hóa da</option>
                    <option>Điều trị nám và tàn nhang</option>
                    <option>Chăm sóc da nhạy cảm</option>
                </select>
            </div>
            <button type="submit" class="submit-btn">OK</button>
        </form>
    </div>

    <div th:replace="~{customer/index :: footer}"></div>
</div>
</body>
</html>